<form [formGroup]="newCheckpointForm" (ngSubmit)="onListeChanged()">
  <div class="form-group">
    <label>
      Title:
      <input type="text" formControlName="title" name="title" class="form-control" placeholder="http://www.your-site.com/page1">
    </label>
    <label>
      <select class="form-control" formControlName="project_id" name="project_id" >
        <option *ngFor="let team of teams" value="{{team.id}}">
          {{team.name}}
        </option>
      </select>
    </label>
  </div>
  <button type="submit" [disabled]="!newCheckpointForm.valid">Submit</button>
</form>
