<div class="main" id="mobile">
  <p class="sign" align="center">Authentication</p>
  <form class="form1">
    <input class="un " type="text" name="title" [(ngModel)]="apiKeyInput" align="center" placeholder="API KEY">
    <a class="submit" align="center" *ngIf="!authStatus" (click)="onSignIn()">Sign in</a>
  </form>
</div>
<div class="main" id="non-mobile">
  <p class="sign" align="center">Authentication</p>
  <form class="form1">
    <input class="un " type="text" name="title" [(ngModel)]="apiKeyInput" align="center" placeholder="API KEY">
    <a class="submit" align="center" *ngIf="!authStatus" (click)="onSignIn()">Sign in</a>
  </form>
</div>
