<div class="container" id="non-mobile">
  <div class="row" >
    <div class="text-center">
    </div>
    <div class="container"><hr>
      <h2>Authentification</h2>
      <input type="text" name="title" [(ngModel)]="apiKeyInput" placeholder="Enter your API key">
      <button class="btn btn-success" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
    </div>
  </div>
</div>
<div class="container" id="mobile">
  <div class="row" >
    <div class="text-center">
    </div>
    <div class="container"><hr>
      <h2>Authentification</h2>
      <input type="text" name="title" [(ngModel)]="apiKeyInput" placeholder="Enter your API key">
      <button class="btn btn-success" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
    </div>
  </div>
</div>
