<hr>
<div class="container" style="text-align: center;" id="footer">
  <div id="mobile" class="text-muted">
    Montastic is made by <a href="http://www.metadot.com" target="_blank">Metadot</a> in Austin, Texas.
    &nbsp;<a href='/privacy'>Privacy notice</a>. Version : 20190907.145457
  </div>
  <div id="non-mobile" class="text-muted">
    Montastic is made by <a href="http://www.metadot.com" target="_blank">Metadot</a> in Austin, Texas.
    &nbsp;<a href='/privacy'>Privacy notice</a>. Version : 20190907.145457
  </div>
</div>

