<div class="container" style="margin-left:auto; margin-right:auto;">
  <div class="row text-center"><br>
    <div class="col-lg-2 col-md-2 col-xs-2 text-center">
      <img style="hight:50px; width:50px;" src='assets/img/logo_bam.png'/>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 text-center">
      <h1 style="float:left;"><span class="title">Bamzooka</span> <span>®</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 text-center">
      <button class="btn btn-danger" style="float:right;" (click)="onSignOut()">Se déconnecter</button>
    </div>
  </div>
</div>


