<div class="container">
  <app-add-checklist (newCheckpointSave)="onListe($event)"></app-add-checklist>
</div>
<br>
<div class="container" style="width: 100% !important; ">
    <span class="ticket-element">
      <div class="table-responsive text-nowrap" style="width: 100%;height: 320px;  ">
        <table class="table" >
            <tr *ngFor="let checkpoint of checkpoints" (click)="gotoDetail(checkpoint.id)" >
              <td scope="col">ID: <span class="label label-default" >  {{checkpoint.id}}</span></td>
              <td scope="col">TITLE: <span class="label label-default" > {{checkpoint.title}}</span></td>
              <td scope="col">PROJECT ID: <span class="label label-default" > {{checkpoint.project_id}}</span></td>
            </tr>
        </table>
      </div>
    </span>
</div>
