<div class="container" style="width: 100% !important; ">
    <span class="ticket-element">
      <div class="table-responsive text-nowrap" style="width: 100%;height: 320px;  ">
        <table class="table">
            <tr *ngFor="let checkpoint of checkpoints" (click)="onSelect(checkpoint)" [class.selected]="checkpoint === selectedCheckpoint">
              <td scope="col">ID: <span class="label label-default" >  {{checkpoint.id}}</span></td>
              <td scope="col">TITLE: <span class="label label-default" > {{checkpoint.title}}</span></td>
            </tr>
        </table>
      </div>
    </span>

  <div *ngIf="selectedCheckpoint">
    <div *ngIf="selectedCheckpoint.id" (click)="gotoDetail()">
      <h2>
        {{selectedCheckpoint.title}} is my website.
        Click here to see the details.

      </h2>
    </div>
  <!--  <div>
      <button class="btn btn-primary" *ngIf="selectedCheckpoint.id" (click)="gotoDetail()">View Details</button>
    </div>-->
  </div>
</div>



