.hide{
  color: transparent;
}
.table-global {
  min-height: 720px;
}
#table-global-mobile {
  zoom: 60%;
  min-height: 860px;

}
.container {
  padding-left: 0px;
}
.container-submit-mobile {
  padding-left: 0px;
  zoom: 70%;
}
a {
  cursor: pointer;
}
